<template>
  <div class="footer">
    <div
      style="background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);height:3px"
    ></div>
    <div class="center">
      <div class="row">
        <div class="col-3">
          <b-card-body>
            <h3 style="color:#9932CC">Documentation</h3>
            <b-link style="color:#000" to="/"><a>Home</a></b-link
            ><br />
            <b-link style="color:#000" to="about"><a>About Us</a></b-link
            ><br />
            <b-link style="color:#000" to="product"><a>Product</a></b-link
            ><br />
            <b-link style="color:#000" to="service"><a>Service</a></b-link
            ><br />
            <b-link style="color:#000" to="portfolio"><a>Portfolio</a></b-link
            ><br />
            <b-link style="color:#000" to="opportunity"
              ><a>Opportunity</a></b-link
            ><br />
          </b-card-body>
        </div>
        <div class="col-3">
          <b-card-body>
            <h3 style="color:#9932CC">CONTACT</h3>
            <a style="color:#000">Depthfirst Co.,Ltd.</a><br />
            <a style="color:#000"
              >155/10 Sukumvit 21 Rd.(Asoke), Klongtoey Nua, Wattana, Bangkok
              10110.</a
            ><br />
            <a style="color:#000">Tel:</a>
            <a style="color:#000">+662 661 6609</a><br />
            <a style="color:#000">Email: info@depthfirst.co.th</a>
          </b-card-body>
        </div>
        <div class="col">
          <b-img
            style="margin:10px"
            width="200px"
            src="https://cdn-images-1.medium.com/max/1200/1*w55hpZI8EkcHxhghZjK-NA.png"
          ></b-img>
        </div>
      </div>
    </div>
    <div
      style="background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);text-align:center;color:white"
    >
      @COPYRIGHT BY MANO 2020
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
.center {
  margin: auto;
  width: auto;
  padding-left: 20%;
}
.footer {
  clear: both;
  position: relative;
  height: auto;
  color: white;
  text-align: left;
}
</style>
