<template>
  <div class="container">
    <b-form @submit="submit($event)" class="row" style="margin:20px">
      <div class="col col-4" style="text-align:left;">

        <b-form-group label="Computer Name:">
          <b-form-input required placeholder="Enter Name" v-model="state.list.comname">
          </b-form-input>
        </b-form-group>

        <b-form-group label="CPU:">
          <b-form-input required placeholder="Enter Name" v-model="state.list.cpu">
          </b-form-input>
        </b-form-group>

        <b-form-group label="MainBoard:">
          <b-form-input required placeholder="Enter Name" v-model="state.list.mainb">
          </b-form-input>
        </b-form-group>

        <b-form-group label="RAM:">
          <b-form-input required placeholder="Enter Name" v-model="state.list.ram">
          </b-form-input>
        </b-form-group>

        <b-form-group label="VGACard:">
          <b-form-input required placeholder="Enter Name" v-model="state.list.vga">
          </b-form-input>
        </b-form-group>

        <b-btn variant="success" style="margin-right:5px" type="submit">
          submit
        </b-btn>
        <b-btn variant="info" @click="reset">
          reset
        </b-btn>
      </div>
      <List class="col col-8"></List>
    </b-form>
  </div>
</template>

<script>
  import List from "../components/list";
  import {
    mapActions,
    mapGetters
  } from "vuex";
  export default {
    components: {
      List
    },
    methods: {
      submit() {
        this.add({
          index: this.state.list.index,
          comname: this.state.list.comname,
          cpu: this.state.list.cpu,
          mainb: this.state.list.mainb,
          ram: this.state.list.ram,
          vga: this.state.list.vga,
        });
      },
      reset() {
        this.$store.dispatch("name/reset");
      },
      ...mapActions({
        add: "name/add"
      })
    },
    computed: {
      ...mapGetters({
        state: "name/stateName"
      })
    }
  };
</script>