<template>
  <div>
    <table class="table">
      <thead style="background-color:pink;color:white">
        <tr>
          <th scope="col">#</th>
          <th scope="col">ComputerName</th>
          <th scope="col">CPU</th>
          <th scope="col">Mainboard</th>
          <th scope="col">RAM</th>
          <th scope="col">VGACard</th>
          <th></th>
        </tr>
      </thead>
      <tbody v-for="(item, index) in state.nameList" :key="index">
        <tr>
          <td>
            {{ index + 1 }}
          </td>
          <td>
            <b-link>{{ item.comname }}</b-link>
          </td>
          <td>
            <b-link>{{ item.cpu }}</b-link>
          </td>
          <td>
            <b-link>{{ item.mainb }}</b-link>
          </td>
          <td>
            <b-link>{{ item.ram }}</b-link>
          </td>
          <td>
            <b-link>{{ item.vga }}</b-link>
          </td>
          <b-btn variant="outline">
            <svg @click="
              () => {
                edit(index);
              }
            " class="bi bi-pencil-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
              <path fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
            </svg>
          </b-btn>
          <b-btn variant="outline" @click="deleteName(index)">
            <svg class="bi bi-trash-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z" />
            </svg>
          </b-btn>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  import {
    mapGetters
  } from "vuex";
  export default {
    methods: {
      deleteName(index) {
        this.$store.dispatch("name/deleteName", index);
      },
      edit(index) {
        this.$store.dispatch("name/edit", index);
      }
    },
    computed: {
      ...mapGetters({
        state: "name/stateName"
      })
    }
  };
</script>
<style>
  .btn-circle i {
    position: relative;
    top: -1px;

  }

  .btn-circle-sm {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 0.9rem;
    text-align: center;
    padding: 0;
    border-radius: 50%;
  }
</style>