<template>
  <div>
    <b-navbar
      toggleable="lg"
      type="dark"
      style="background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%"
    >
      <b-navbar-brand to="/">Depthfirst</b-navbar-brand>
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item to="about">ABOUT US</b-nav-item>
          <b-nav-item to="product">PRODUCT</b-nav-item>
          <b-nav-item to="service">SERVICE</b-nav-item>
          <b-nav-item to="portfolio">PORTFOLIO</b-nav-item>
          <b-nav-item to="opportunity">OPPORTUNITY</b-nav-item>
          <b-nav-item to="contact">CONTACT</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
