<template>
  <div id="app">
    <Bar />
    <router-view />
    <Foot />
  </div>
</template>

<script>
import Bar from "./components/navbar";
import Foot from "./components/contact";
export default {
  components: {
    Bar,
    Foot
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
</style>
